# Ignore all files and directories in the root
/*

# Unignore specific files
!README.md
!package.json

# Unignore dist directory
!/dist

# Don't ignore specific files in dist
/dist/*
!/dist/favicon.ico
!/dist/index.css
!/dist/index.es.js
!/dist/index.umd.js